:root {
--primary-color: #11bb67;
--secondary-color: #11bb67;
--font-family: 'Arial', sans-serif;
--font-size: 16px;
}

.green-color{
    color: var(--primary-color);
}

.orange-color{
    color: #ff6525;;
}

p{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

.tour-details-header img {
    filter: brightness(0.4);
}

.tour-details-header img {
    filter: brightness(0.4);
}

.tour-details-header h1 {
  color: white;
  font-weight: 700;
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tour-details-header button {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tour-details-header button:hover {
  color: white;
  background-color: #11bb67;
}

p.rate{
    color: #ff6525;
}

.tour-main-img{
    border-radius: 5px;
}

.line-sperator{
    border-top: dotted 2px var(--primary-color);
}

.tour-facilities-challenges{
    height: 100%;
}

.tour-facilities-challenges p{
    font-size: 1.2em;
}
.tour-amenties{
    border: 1px dashed var(--primary-color);
    border-radius: 5px;
}

.tour-amenties p{
    margin: 0 1.5em;
}

.include,
.exclude{
    background-color: #F3F8F6;
    position: relative;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

.include li,
.exclude li{
    margin: 5px 0;
}

.include li::before{
    font-weight: 900;
    content: "\2713";
    color: green;
    margin-right: 0.5rem;
}

.exclude li::before{
    font-weight: 900;
    content: "X";
    color: red;
    margin-right: 0.5rem;
}

.date-input{
    width: 80%;
    height: 3em;
}

input[type= "number"]{
    width: 2rem;
    height: 2rem;
}

input[type= "checkbox"]{
    width: 1.1rem;
    height: 1.1rem;
}

.btn-increase,
.btn-decrease{
    color: var(--primary-color);
    border: 1px solid #AFB3B0;
}

.btn-increase:hover,
.btn-decrease:hover{
    color: white;
    background-color: var(--primary-color);
}

.total-cost-part{
    border-top: 1px solid;
    border-top-color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.booking-package,
.tour-info,
.last-deals{
    background-color: #F3F8F6;
}

.tours-details-part-title{
    background-color: var(--primary-color);
}

.proceed-button{
    background-color: var(--primary-color);
    color: white;
    margin: 0 auto;
}

.tour-name{
    font-size: 3em;
    font-weight: bold;
}

.tour-details-left button{
    background-color: #dbecd4;
    margin: 0 10px;
}

.last-deals-rate svg{
    color: #ff6525;
}
