@import 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Glass+Antiqua&display=swap" rel="stylesheet" rel="stylesheet';
:root,
[data-bs-theme="light"] {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
  }

  .home {
    width: 100%;
    height: 50vh;
    background-image: url(../assets/images/booking/breadcrumb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #0000009d;
  }
  .overlay-content {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlay-content .title {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    color: #fdffff;
  }

  .btn-main {
    width: 60%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: #12bb68;
    padding: 18px;
    width: 15rem;
    font-size: 18px;
    font-weight: 500;
  }
  .btn-main:hover {
    background-color: #12bb68;
    color: #fff;
  }
  /* end home sec */
  /* ..........section2.............. */
 
  .form-section {
    margin-block: 6rem;
  }
  .form-label {
    color: #6b6f6a;
  }

  .input-style {
    height: 2.5rem !important;
  }

  .payment {
    padding: 30px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin: 1rem;
  }

  /* ............. */

  .card {
    border: 1px solid #d6d6d6;
    margin: 1rem;
  }
  .card-text {
    margin: 5rem;
    border-block: 2px dotted #11bb67;
  }

  .card h1 {
    font-size: 1.8rem;
    color: #333;
  }

  .card p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .card .btn {
    color: #fff;
    font-size: 1rem;
    padding: 13px 20px;
    border-radius: 5px;
    background-color: #11bb67;
  }

  form .pay-btn {
    color: #fff;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #11bb67;
  }
  .form-section .btn:hover {
    background-color: #ff6525;
    transition-duration: 0.3s;
  }
  /* media */
  @media (max-width: 558px) {
    .overlay-content .title {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 400;
      color: #fdffff;
    }
    .btn-home {
      width: 60%;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      background-color: #12bb68;
      padding: 15px;
      width: 10rem;
      font-size: 12px;
    }
  }
}
