* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  margin: 1.5rem 0;
  text-transform: capitalize;
}

.header {
  position: relative;
  height: 100vh;
  background: url("../assets/images/homepage/header.jpg") no-repeat center center/cover;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header-content {
  position: relative;
  text-align: center;
  z-index: 2;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #ff7e42;
}

.search-bar {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
}

.search-field label {
  font-size: 0.9rem;
  color: #333;
}

.search-field input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-field .search-btn {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transform: translateY(28px);
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background-color: #ff5500;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .header {
    height: 100vh; 
    background-position: center;
  }

  .subtitle {
    font-size: 1.3rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .search-bar {
    width: 90%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .search-field input {
    width: 100%;
  }

  .search-field .search-btn {
    width: 100%;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .header {
    height: 90vh; 
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .title {
    font-size: 2rem;
  }

  .search-bar {
    width: 100%;
    
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .search-field input {
    width: 100%;
  }

  .search-field .search-btn {
    width: 100%;
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .header {
    height: 80vh; 
    background-position: center;
  }

  .subtitle {
    font-size: 1rem;
  }

  .title {
    font-size: 1.6rem;
  }

  .search-bar {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .search-field input {
    width: 100%;
  }

  .search-field .search-btn {
    width: 100%;
    transform: translateY(0);
  }
}
