header {
  background: url("../assets/images/southafrica/destination-details/breadcrumb.jpg");
  background-position: center;
  background-size: cover;
  height: 45vh;
}
header .background {
  background-color: rgba(14, 26, 24, 0.5411764706);
  height: 100%;
}
.header-p {
  height: 70%;
  position: relative;
  top: 37%;
}

.h-text-style {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -1px;
}
header p {
  font-size: 18px;
  width: 279px;
  height: 65px;
  line-height: 3.7;
  position: relative;
  top: 15%;
  border-radius: 5px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .h-text-style {
    font-size: 46px;
  }
}
@media (max-width: 767px) {
  .h-text-style {
    font-size: 33px;
  }
  header p {
    top: 6%;
    width: 230px;
    height: 70px;
  }
}

.explore-section {
}
.Charm {
  width: 100%;
}
.discover-img {
  width: 320px;
  border-radius: 10px;
}
.clint {
  border-radius: 5px;
}
.span-text {
  font-size: 12px;
}
.half-width {
  width: 50%;
}
.thought-card {
  border: 1px dashed !important;
}
.date-color {
  color: #11bb67;
}
@media (max-width: 430px) {
  .h-text-style {
    font-size: 40px;
  }
  .discover-img {
    width: 100%;
  }
  .thoughts h2 {
    font-size: 35px;
  }
}
.form-text-color {
  color: #6b6f6a;
}
.input-style {
  height: 65px;
  border-radius: 5px;
  outline: none;
  border: 1px solid hsla(108, 2%, 43%, 0.3);
}
.input-style:focus {
  border-color: #11bb67;
}
.text-erea-style {
  height: 260px;
  border-radius: 5px;
  outline: none;
  border: 1px solid hsla(108, 2%, 43%, 0.3);
}
.text-erea-style:focus {
  border-color: #11bb67;
}
.btn-send {
  font-size: 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
}
.btn:hover,
.btn:focus-visible {
  background-color: #ff6525 !important;
  color: #fff !important;
}

.search-input {
  height: 60px;
  outline: none;
  border: 0px;
  background: #f3f8f6;
}
.icon-style {
  position: relative;
  bottom: 60px;
  left: 90%;
}
.search-header-fs {
  font-size: 26px;
}
.search-text-erea-style {
  height: 248px;
  background: #f3f8f6;
  outline: 0;
  border: 0;
}
.search-border {
  border-bottom: 1px solid #e2e4e7;
}
.search-section-border {
  border: 1px solid #e2e4e7;
  border-radius: 5px;
}
.recent-tours-background {
  background-color: #f3f8f6;
}
.img-styls {
  width: 90px;
  border-radius: 5px;
  cursor: pointer;
}
.icons {
  font-size: 14px;
  color: #ff6525;
}
a {
  color: black !important;
}
.recent-tours a:hover {
  color: #11bb67 !important;
}
.p-color {
  color: #bec2c1 !important;
  font-size: 14px;
}
.span-color {
  color: #11bb67;
  font-size: 14px;
}

.main-color {
  color: #fff !important;
}
.first-color {
  background-color: #11bb67 !important;
}