@import 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Glass+Antiqua&display=swap" rel="stylesheet" rel="stylesheet';
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.newsletter-section {
  background-color: #12bb68;
  color: #fdffff;
  position: relative;
  padding: 40px 0px;
  font-family: "DM Sans", sans-serif;
}

.newsletter-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../imgs/newsletter/plane.png"),
    url("../imgs/Newsletter/umbrella.png"),
    url("../imgs/Newsletter/palm-tree.png"); 
  background-repeat: no-repeat;
  background-position: 0%, 50%, 100%;
  z-index: 1;
}

.newsletter-content {
  position: relative;
  z-index: 2;

  .newsletter-title {
    font-weight: 700;
    font-size: 50px;
  }
  p {
    font-size: 18px;
    font-weight: 500;
  }
}

.custom-input {
  border-radius: 10px !important;
  border: none;
  padding-left: 1.5rem !important;
  line-height: 70px;
  font-size: 16px;
  box-shadow: none;
  position: relative;
  z-index: 2;
}

.btn-subscribe {
  background-color: #ff6525;
  color: white;
  border: none;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 3;
  padding: 20px 40px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px !important;
  cursor: pointer;
}

.custom-input:focus {
  outline: none;
  box-shadow: none !important;
}

.btn-subscribe:hover {
  background-color: #12bb68;
  transition: 0.3s;
}

/* mediaQuery */
@media (min-width: 777px) and (max-width: 988px) {
  .custom-input {
    padding-inline: 1.3rem 0rem !important;
    line-height: 60px;
    font-size: 15px;
  }

  .btn-subscribe {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
  }
}
