:root {
    --primary-color: #11bb67;
    --secondary-color: #FF6525;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    }
    
    .green-color{
        color: var(--primary-color);
    }
    
    .orange-color{
        color: #ff6525;;
    }
    
    p{
        padding: 0;
        margin: 0;
    }
    
    ul{
        list-style: none;
        padding: 0;
    }
    
    a{
        text-decoration: none;
        color: black;
    }

    .tour-grid-header img {
        filter: brightness(0.4);
    }
    
    .tour-grid-header h1 {
      color: white;
      font-weight: 700;
      font-size: 3em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .tour-grid-header button {
      background-color: var(--primary-color);
      color: white;
      font-weight: 500;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .tour-grid-header button:hover {
      color: white;
      background-color: #11bb67;
    }
.card{
    background-image: url("../../imgs/tours/tour-1.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.discount-badge{
    width: 20%;
}

.featured-badge{
    background-color: #FF6525;
    width: 20%;
}

.dollar-icon{
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
}

.card::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.card-badges,
.card-info{
    z-index: 3;
}

.pagination .btn{
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 1.5rem;
}

.pagination button:hover{
    background-color: #086a39;
}

.card:hover {
    transform: scale(1.05);
  }